<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.win10.personality_newsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".user.Myapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".video_list.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".showcomment.TestAddCommentActivity"
            android:label="@string/title_activity_test_add_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".comment.CommentActivity"
            android:label="@string/title_activity_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".collection.CollectionActivity"
            android:label="@string/title_activity_collection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.CollectionCommentMainActivity"
            android:label="@string/title_activity_collection_comment_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".user.LoginedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".user.userActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".news_visit.News_Manifest"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".news_visit.NewsDetailActivity" />
        <activity android:name=".news_visit.Search_viewList" />
        <activity android:name=".news_visit.search_result"></activity>
        <activity
            android:name=".user.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>